language: ruby

sudo: required

dist: buster

rvm:
  - 2.4.6

services:
  - docker

branches:
   only:
    - main
    - unstable

cache:
  directories:
   - /usr/share
   - /usr/bin
   - vendor/.bundle

install:
  - sudo ./scripts/install-deps.sh > /dev/null
  - bundle install --path vendor/.bundle

jobs:
  include:
    - name: "Exporter Tests"
      script: bundle exec ruby test/exporter_test.rb
    - name: "Docker Build"
      script: docker build . -t lib-mapknitter-exporter:latest
